.CreateGame {
    height: 500px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frm {
    height: 75%;
    width: 75%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(125, 60, 152, 0.75);
    padding: 5px;
}

.frm div {
    margin-bottom: 10px;
}

.frm form {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2.5px;
}

.titl {
    color:#BB8FCE;
    font-size: 30px;
    text-align: center;
    align-self: center;
    background-color: #7D3C98;
    border-radius: 10px;
    margin: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.frm label {
    color:#BB8FCE;
}

.frm button {
    align-self: flex-end;
    background-color: rgba(125, 60, 152, 0.75);
    border-color: rgba(165, 105, 189, 0.75);
    font-family: 'Orbitron', sans-serif;
}

#txt {

    display: flex;
    flex-direction: column;
}

#desc {
    height: 75px;
    width: 350px;
}

.errs {
    background-color: rgba(219, 36, 36, 0.75);
    color: white;
    position: absolute;
    top: 125px;
    left: 300px;
    width: 150px;
    font-size: 15px;
    padding: 2.5px;
    /* border: double 5px yellow; */
}

#descr {
    top: 175px;
    border-radius: none;
}

#plt {
    top: 225px;
}

.cbxs {
    height: 75px;
    width: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.cbxs div {
    margin: 0.5px;
}

.cbxs label {
    font-size: 12px;
}

.cbxs::-webkit-scrollbar {
    width: 10px;
  }
  
.cbxs::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7.5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 7.5px rgba(0, 0, 0, 0.5);
    background-color: #5B2C6F; 
  }
  
.cbxs::-webkit-scrollbar-thumb {
    background-color: #6C3483;
    outline: 1px solid #BB8FCE;
  }