.Home {
    height: 100%;
    width: 100%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joystick {
    background-image: url('../img/joystick.png');
    background-repeat: no-repeat;
    width: 512px;
    height: 398px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 150px;
    width: 150px;
    color: white;
    background: none;
    border: none;
}

.msg {
    position: absolute;
    top: 75px;
    right: 350px;
    background-color: rgba(0, 0, 0, 0.75);
    height: 200px;
    width: 225px;
    border-radius: 25px;
    border: double #8E44AD 4px;
    padding: 5px;
    font-size: 15x;
    text-align: justify;
    overflow-y: auto;
    color: #8E44AD;
}

.msg h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 15px;
}

.msg span {
    font-size: 10px;
}